*~
*.pyc
*.pyo
.DS_Store
.psychoacoustics
*.egg-info
*.bak
*.rej
*$py.class
*.orig
example.cfg
.coverage
psytests.xml
xunit.xml
_env
doc/.build
dist
build
.psychoacousticsids
.tox
.*.sw[nop]
cover

.venv/
